.special-del p del {
  color: red;
  display: block;
  text-align: center;
}

.exclaim .reveal .state-background {
  background: black;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
  font-family: 'Lacquer';
}

.exclaim .reveal code {
  color: red;
}