.special-del p del {
  color: red;
  display: block;
  text-align: center;
}

.exclaim .reveal .state-background {
  background: black;
} 

.exclaim .reveal div {
  color: white;
  font-family: 'Lacquer';
}

.reveal h1, .reveal h2, .reveal h3 {
  color: blue;
  font-family: 'Fascinate';
}

.exclaim .reveal code {
  color: red;
}

.reveal em em {
  font-style: normal;
}